Mules/cartaodecredito/target/classes/cartaodecredito.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8082" doc:name="HTTP Listener Configuration"/>
	<flow name="cartaodecreditoFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="*" doc:name="HTTP"/>
		<http:static-resource-handler resourceBase="${app.home}/docroot" doc:name="HTTP Static Resource Handler"/>
	</flow>
	<flow name="cartaodecreditoFlow1">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/tratarForm" doc:name="HTTP"/>
		<component class="br.ufsc.das.Tratamento" doc:name="Tratamento"/>
		<choice doc:name="Choice">
			<when expression="#[payload.numero.substring(0,1) == '4']">
				<component class="br.ufsc.das.ProcessamentoVisa" doc:name="Visa"/>
			</when>
			<when expression="#[Integer.parseInt(payload.numero.substring(0,2)) &gt;= 51  &amp;&amp; Integer.parseInt(payload.numero.substring(0,2)) &lt;= 55]">
				<component class="br.ufsc.das.ProcessamentoMastercard" doc:name="Mastercard"/>
			</when>
			<otherwise>
				<component class="br.ufsc.das.LancarExcecaoCartaoNaoReconhecido" doc:name="NaoReconhecido"/>
			</otherwise>
		</choice>
		<object-to-string-transformer mimeType="text/plain" doc:name="Object to String"/>
		<catch-exception-strategy doc:name="cartaodecreditoCatch_Exception_Strategy">
			<set-payload value="Erro bandeira n&#227;o identificada --&gt; #[exception.cause] " encoding="ISO-8859-1" mimeType="text/plain" doc:name="Tratar Erro"/>
		</catch-exception-strategy>
	</flow>
</mule>
